*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #F6F8FD;
}

/* navbar */
#header{
    height: 100vh;
    cursor: auto;
    position: sticky;
}

.navbar-header .navbar-collapse{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-style{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #F6F8FD;
    transition: all 0.3s ease;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0. 0.2);
}

ul nav{
    column-gap: 50px;
    row-gap: 8px;
}

.logo{
    margin-right: 50px;
}

.icon-bar{
    background: #34364A;
}

.navbar-collapse{
    flex-grow: 1;
    align-items: center;
}

.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin-right: 0;
    font-weight: 550;
    font-size: 16px;
    padding: 0;
    width: max-content;
}

.navbar-nav{
    flex-direction: row;
}

a.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #34364A;
    text-decoration: none;
    box-shadow: none;
    border: none;
    margin: 20px 20px 0;
}

a.nav-btn:hover{
    color: #335EF7;
    transition: ease-in .2s;
}

.nav-btn-special, .icon-down{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.btn-secondary, .btn-secondary:hover {
    transition: all .4s;
}

.btn-secondary{
    background: #E5E9F2;
    border-radius: 100px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    font-size: 30px;

    width: 49px;
    height: 49px;
}

.btn-daftar, .btn-secondary{
    margin-left: 20px;
}

.btn-daftar{
    border-radius: 100px;
    border: none;
    color: #34364A;
    width: 160px;
    height: 49px;
    background: #E5E9F2;
    margin-top: 5px;
}

.right-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ms-auto{
    margin-left: auto;
}

button.btn-daftar:hover{
    background-image: none;
    border: none;
    color: #34364A;
    box-shadow: 0 5px 10px #E5E9F2;
    transition: 0.3s;
}

a.wrap-btn-daftar:hover{
    text-decoration: none;
}

/* Dashboard */
.small-text{
    font-size: 18px;
    color: #47BB8E;
    margin: 20px 0;
    font-weight: 550;
}

.big-text{
    font-size: 46px;
    color: #34364A;
    margin: 20px 0;
    font-weight: 670;
}

.small-text-second{
    font-size: 18px;
    color: #34364A;
    margin: 20px 0;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first{
    background-color: #2447F9;
    color: #FFFFFF;
    font-weight: 600;
}

a.btn-second{
    background-color: #E5E9F2;
    color: #34364A;
    font-weight: 600;
}

a.btn-first:hover{
    border: none;
    color: #FFFFFF;
    box-shadow: 0 0 8px #2447F9;
    transition: 0.3s;
}

a.btn-second:hover{
    border: none;
    color: #34364A;
    box-shadow: 0 5px 10px #E5E9F2;
    transition: 0.3s;
}

img.img-companies{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    width: 100%;
    left: 100px;
}

.banner-info, .banner-img{
    margin: 30px 0;
    top: 70px;
}

/* popup login */
.popup{
    position: absolute;
    top: -300%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 600px;
    padding: 20px 20px 20px;
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 5px #E5E9F2;
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active{
    top: 300%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: #E5E9F2;
    color: #34364A;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    color: #34364A;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .img-login{
    position: relative;
}

.popup .form .form-element{
    margin: 20px 0;
}

.popup .form .form-element label{
    font-size: 14px;
    color: #34364A;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #E5E9F2;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}

.popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #E5E9F2;
    color: #34364A;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #335EF7;
    text-decoration: none;
    font-weight: 600;
}

.popup .form #email_error,
.popup .form #pass_error{
    color: #C62828;
}

/* Footer Styles */
.footer-nd {
    background-color: #F6F8FD;
    color: #34364A;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 21px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-nd .item-footer {
    margin-bottom: 20px;
}

.footer-nd .logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-nd h4 {
    color: #34364A;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 550;
}

.footer-nd a {
    color: #34364A;
    text-decoration: none;
    font-size: 16px;
}

.footer-nd a:hover {
    color: #335EF7;
    text-decoration: none;
}
