*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #F6F8FD;
}

/* navbar */
#header{
    height: 100vh;
    cursor: auto;
}

.navbar-header .navbar-collapse{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-style{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #F6F8FD;
}

ul nav{
    column-gap: 50px;
    row-gap: 8px;
}

.logo{
    margin-right: 50px;
}

.icon-bar{
    background: #34364A;
}

.navbar-collapse{
    flex-grow: 1;
    align-items: center;
}

.nav-item{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-right: 0;
    font-weight: 550;
    font-size: 16px;
    padding: 0;
    width: max-content;
}

.navbar-nav{
    flex-direction: row;
}

a.nav-btn{
    color: #34364A;
    text-decoration: none;
    box-shadow: none;
    border: none;
    margin: 20px 20px 20px;
}

a.nav-btn:hover{
    color: #335EF7;
    transition: ease-in .2s;
}

.btn-secondary, .btn-secondary:hover {
    transition: all .4s;
}

.btn-secondary{
    background: #E5E9F2;
    border-radius: 100px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    font-size: 30px;

    width: 49px;
    height: 49px;
}

.btn-daftar, .btn-secondary{
    margin-left: 20px;
}

.btn-daftar{
    border-radius: 100px;
    border: none;
    color: #34364A;
    width: 160px;
    height: 49px;
    background: #E5E9F2;
    margin-top: 5px;
}

.right-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ms-auto{
    margin-left: auto;
}

button.btn-daftar:hover{
    background-image: none;
    border: none;
    color: #34364A;
    box-shadow: 0 5px 10px #E5E9F2;
    transition: 0.3s;
}

/* Dashboard */
.small-text{
    font-size: 18px;
    color: #47BB8E;
    margin: 20px 0;
    font-weight: 550;
}

.big-text{
    font-size: 46px;
    color: #34364A;
    margin: 20px 0;
    font-weight: 670;
}

.small-text-second{
    font-size: 18px;
    color: #34364A;
    margin: 20px 0;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first{
    background-color: #2447F9;
    color: #FFFFFF;
    font-weight: 600;
}

a.btn-second{
    background-color: #E5E9F2;
    color: #34364A;
    font-weight: 600;
}

a.btn-first:hover{
    border: none;
    color: #FFFFFF;
    box-shadow: 0 0 8px #2447F9;
    transition: 0.3s;
}

a.btn-second:hover{
    border: none;
    color: #34364A;
    box-shadow: 0 5px 10px #E5E9F2;
    transition: 0.3s;
}

img.img-companies{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    width: 100%;
    left: 100px;
}

.banner-info, .banner-img{
    margin: 30px 0;
}

/* Login style */